body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  color: white;
}

.user {
  background-color: rgb(113, 113, 201);
  padding: 15px;
  border-radius: 30px;
  margin-right: 10px;
  font-size: 15px;
}

.logout {
}

.form {
  margin-top: 20px;
  font-size: 20px;
  /* width: 600px; */
}

.form-comps {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* button:disabled {
  display: none;
} */

.logout-btn {
  margin-left: auto;
  background-color: rgb(236, 104, 104);
  color: white;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.hide {
  display: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  border: none;
  font-size: 20px;
  margin-right: 5px;
  color: white;
  padding: 5px 10px;
  background-color: rgb(8, 54, 54);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-inner {
  background: #fff;
  padding: 15px;
}

.checked {
  text-decoration: line-through;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App {
  max-width: 800px;
  margin: auto;
  font-size: 20px;
  background-color: rgb(243, 222, 222);
  padding: 20px 30px;
  border-radius: 15px;
  display: block;
  margin-top: 10px;
}

html {
  background-color: rgba(0, 0, 0, 0.5);
}

.add-item {
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 20px;
}

.add-btn {
  font-size: 18px;
  margin-left: 20px;
  background-color: green;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
}

.disabled-add-btn {
  font-size: 18px;
  margin-left: 20px;
  background-color: rgb(167, 243, 167);
  color: white;
  cursor: default;
  padding: 5px 15px;
  border-radius: 10px;
}
